:root{
    --fonte-site:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ;
}




.rg {
    background-color: rgb(178, 241, 141);
    width: 550px;
    height: 250px;
    border: solid .5rem steelblue;
    border-radius: .3rem;
    padding: 10px;
    display: flex;
    margin: auto;
}

.foto {
    margin-top: 20px;
    width: 100px;
    height: 130px;
}

.foto img{
    display: block;
    height: 200px;
    width: 150px;
}

.informacoes {
    margin-left: 110px;
}

h1 {
    text-align: center;
    font-size: 1.2em;
}
